@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

*,*::before,*::after{
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    background: linear-gradient(#10304d,#2672b4 );
    color: white;
    height: 100%;
}

#root{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.controller-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    font-size: 2rem;
    font-family: 'Nunito', sans-serif;
}
.body-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    width: 100%;
    height: 70%;
}

.controller{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .time-container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 50px;
    }
    .length-title{
        font-size: 1.5rem;
        font-family: 'Arvo', serif;
    }
    .big-title{
        font-size: 2rem;
    }
    .adjust-button{
        font-size: 1.5em;
        cursor: pointer;
        &:hover{
            color:aqua
        }
    }
    .button-control-container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        .control-button{
            background-color: transparent;
            border: none;
            color: #ffffff;
            padding: 7px, 10px;
            font-size: 1.8em;
            vertical-align: baseline;

            &:hover{
                cursor: pointer;
            }
        }
    }
    .time{
        font-size: 1.3rem;
        font-family: 'Nunito', sans-serif;
    }
    .big-time{
        font-size: 4rem;
    }
}
.timer-wrapper{
    width: 200px;
    height: 200px;
    gap: 1em;
    position: relative;
    top: -70px;
}